.container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card {
  border: 1px solid red;
  border-radius: 8px;

  width:250px;
  height:400px;

  display: flex;
  flex-direction: column;

  background-color: #232323;
}

.search-input {
  width: 100%;
  margin-bottom: 16px;
  /* height: 32px; */
  padding: 4px;
  border-radius: 4px;
}

.card__title{
  color: white;
  margin: 0 auto;
}

.card__body{
  background-color: #616161;

  width: 90%;
  height: 70%;
  margin: 0 auto;

  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.card__stats{
  padding: 16px 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.card__stats__type{
  color: #090909;
  font-weight: bold;

  padding: 8px;
  margin: 0 4px;

  border-radius: 8px;
}


.fire {
  background-color: #fd7d24;
}

.water {
  background-color: #4592c4;
}

.bug {
  background-color: #729f3f;
}

.ground {
  background-color: #f7de3f;
}

.rock {
  background-color: #a38c21;
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.ice {
  background-color: #50c3e6;
}

.steel {
  background-color: #9eb7b8;
}

.psychic {
  background-color: #f366b9;
}

.flying {
  background-color: #3dc7ef;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.electric {
  background-color: #eed535;
}

.normal {
  background-color: #a3acaf;
}
